<div id="email-view" class="py-5 mail-box bg-white">
    <h3 class="text-center text-white">Inbox</h3>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="w-100 text-start" id="emailSubject">Email Heading</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p class="text-start pt-1" id="emailParty"></p>
                <p class="text-start pb-1" id="emailDate"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p class="text-start py-1" id="emailBody">
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 d-inline-flex justify-content-around" id="emailActions">
                <button class="btn btn-outline-success">
                    reply
                </button>
                <button class="btn btn-outline-success">
                    archive
                </button>
            </div>
        </div>
    </div>
</div>